table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.container{
  margin-top: 15px;
}
  
#footer{
  width:100%;
  position:absolute;
  bottom:0px;
  text-align:center;
  height: 40px;
  background-color: #000;
  color: #fff;
}